/* line 1, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.center {
  width: 300px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 11, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.time-select {
  width: 100%;
}

/* line 15, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.form-input {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

/* line 23, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.inline-radio {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 28, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.bootstrap-filestyle {
  margin-top: 10px;
}

/* line 32, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
div.btn-group-vertical form {
  display: inline;
  width: 100%;
}

/* line 37, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.white {
  color: #E7E2E4;
  margin-top: 5px;
}

/* line 42, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
label {
  margin: 0;
}
/* line 1, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
body {
  background-color: #c6cdd4;
  overflowy: scroll;
}

/* line 6, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default {
  background-color: #E7E2E4;
  z-index: 100;
}

/* line 10, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav li a {
  color: #45494C;
}

/* line 14, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav li a:hover {
  color: black;
}

/* line 18, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-brand:hover {
  color: black;
}

/* line 22, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#map {
  height: 100%;
  width: 100%;
}

/* line 27, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 35, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#homepage-controls {
  width: 100%;
  z-index: 2;
}

/* line 40, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.center-dropdown {
  text-align-last: center;
}

/* line 44, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.btn-default {
  background-color: #C3DBF9;
  color: #3E4660;
}

/* line 49, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.dashboard-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/matthew-hamilton-136795-b40f75bfab7f16752e71a6ba9776f8b4319af14c1b8055833906b1c1a31f6f93.jpg) center center fixed;
  background-size: cover;
}

/* line 54, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.aes-container {
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* line 62, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.aes-center {
  width: 500px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 72, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.aes-format {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 79, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 83, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#info-backdrop {
  position: absolute;
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 75px;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  width: 30%;
}

/* line 95, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#artwork-listings {
  display: none;
}

/* line 99, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#event-listings {
  display: none;
}

/* line 103, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#peace-circle-listings {
  display: none;
}

/* line 107, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#story-listings {
  display: none;
}

/* line 111, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.listing {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 116, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#neighborhood {
  margin-top: 20px;
  overflow: auto;
  height: 60%;
}

/* line 122, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.alert-fixed {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

/* line 131, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.flash_success {
  background-color: #84bb66;
  color: #308700;
}

/* line 136, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.flash_error {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c85b54;
  color: #7c0700;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
