/* line 1, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.center {
  width: 300px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 11, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.form-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 16, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.time-select {
  width: 100%;
}

/* line 20, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.form-input {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

/* line 28, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.inline-radio {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 33, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.bootstrap-filestyle {
  margin-top: 10px;
}

/* line 37, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
div.btn-group-vertical form {
  display: inline;
  width: 100%;
}

/* line 42, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.white {
  color: #E7E2E4;
  margin-top: 5px;
}

/* line 47, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
label {
  margin: 0;
}

/* line 51, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.aes-container {
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* line 59, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.aes-center {
  width: 500px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 69, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.aes-format {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 76, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.resources-center {
  width: 50%;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

/* line 85, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.resources-container {
  background-color: rgba(231, 226, 228, 0.8);
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* line 96, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/forms.css.scss */
.btn-danger {
  width: 100px;
  text-decoration-color: white;
}
/* line 1, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
body {
  background-color: #c6cdd4;
  overflowy: scroll;
}

/* line 6, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default {
  background-color: #E7E2E4;
  z-index: 100;
}

/* line 10, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav li a {
  color: #45494C;
}

/* line 14, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav li a:hover {
  color: black;
}

/* line 18, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-brand:hover {
  color: black;
}

/* line 22, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#map {
  height: 100%;
  width: 100%;
}

/* line 27, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
html, body {
  top: 50px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* line 36, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#homepage-controls {
  width: 100%;
  z-index: 2;
}

/* line 41, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.center-dropdown {
  text-align-last: center;
}

/* line 45, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.btn-default {
  background-color: #933B3B;
  border-color: #4C2326;
  color: #E7E2E4;
}

/* line 51, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#hood-select {
  background-color: #E7E2E4;
}

/* line 55, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.btn-default:hover {
  background-color: #4C2326;
  border-color: #3F1D20;
  color: #E7E2E4;
}

/* line 61, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.btn-all {
  background-color: #9ABBE2;
  border-color: #7F9AB9;
  color: #3E4660;
}

/* line 67, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.btn-all:hover {
  background-color: #7F9AB9;
  border-color: #7189A5;
  color: #3E4660;
}

/* line 73, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.dashboard-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/matthew-hamilton-136795-b40f75bfab7f16752e71a6ba9776f8b4319af14c1b8055833906b1c1a31f6f93.jpg) center center fixed;
  background-size: cover;
}

/* line 78, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#info-backdrop {
  position: absolute;
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 75px;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  width: 30%;
}

/* line 90, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#artwork-listings {
  display: none;
  width: 100%;
}

/* line 95, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#event-listings {
  display: none;
  width: 100%;
}

/* line 100, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#peace-circle-listings {
  display: none;
  width: 100%;
}

/* line 105, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#story-listings {
  display: none;
  width: 100%;
}

/* line 110, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#neighborhood {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 210px;
  bottom: 10px;
  overflow: auto;
  height: inherit;
  width: 100%;
}

/* line 121, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.alert-fixed {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
}

/* line 130, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.flash_success {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #84bb66;
  color: #308700;
}

/* line 138, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.flash_error {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c85b54;
  color: #7c0700;
}

/* line 146, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
#about-us {
  display: block;
  overflow-y: scroll;
}

/* line 150, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

/* 16x9 Aspect Ratio */
/* 4x3 Aspect Ratio */
/* line 162, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.iframe-4x3 {
  padding-bottom: 75%;
}

/* line 166, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 174, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.art-text {
  font-weight: bold;
  color: #444444;
}

/* line 179, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.events-text {
  font-weight: bold;
  color: #4e7eb7;
}

/* line 184, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.peace-circles-text {
  font-weight: bold;
  color: #933b3b;
}

/* line 189, /Users/Caleb/projects/rails/a_connected_chicago/app/assets/stylesheets/home.css.scss */
.stories-text {
  font-weight: bold;
  color: #e7e2e4;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
