<% content_for :body_class, "artwork-bg" %>

<div class="resources-center">
  <div class="resources-container">
    <ol class="instruction-list">
      <h4><li>
        The <b>Name of Artist</b> can be an individual, multiple artists or a collective authorship by organization or group. You should own the rights to personal artwork, or have been given permission by an organization to share. If it is Public Art, then you can submit the Public Artwork in the name of The City of Chicago or the Artist that created the artwork (if applicable)
      </li></h4>

      <h4><li>
        The <b>Brief Description of Artwork</b> should be between 1-3 sentences (one paragraph <b>MAX</b>), describing the power or history of the artwork.
      </li></h4>

      <h4><li>
        Artwork <b>MUST</b> be linked to a <b>Complete Geographical Address</b> in order to appear on Connected Chicago Map; i.e. 5114 S Elizabeth St, Chicago, IL 60609.
      </li></h4>

      <h4><li>
        <b>DO NOT</b> use your Personal Home Address. After approval, the address will be used to tag the artwork to a specific location.
      </li></h4>

      <h4><li>
        <b>Recommendation:</b> Use your neighborhood organization’s geographic address or your nearest neighborhood landmark location to pin location of artwork.
      </li></h4>
    </ol>
    <ul class="instruction-list">
      <h4><li>
        Note: A future version of this site will include the function of uploading art through music.
      </li></h4>
    </ul>
    <%= link_to "Back", new_artwork_path %>
  </div>
</div>
