<% content_for :body_class, "artwork-bg" %>

<div class="resources-center">
  <div class="resources-container">
    <ol>
      <li><h4>
        The Name of Artist can be an individual, multiple artists or a collective authorship by organization or group. You should own the rights to personal artwork, or have been given permission by an organization to share. If it is Public Art, then you can submit the Public Artwork in the name of The City of Chicago or the Artist that created the artwork (if applicable)
      </h4></li>
     
      <li><h4>
        The Brief Description of Artwork should be between 1-3 sentences (one paragraph MAX), describing the power or history of the artwork.
      </h4></li>

      <li><h4>
        Artwork MUST be linked to a Complete Geographical Address in order to appear on Connected Chicago Map; i.e. 5114 S Elizabeth St, Chicago, IL 60609. 
      </h4></li>
      <ul>
        <li>DO NOT use your Personal Home Address. After approval, the address will be used to tag the artwork to a specific location.</li>
        <li>Recommendation: Use your neighborhood organization’s geographic address or your nearest neighborhood landmark location to pin location of artwork.</li>
      </ul>

      <li><h4>
        Note: A future version of this site will include the function of uploading art through music.
      </h4></li>
    </ol>
    <%= link_to "Back", new_artwork_path %>
  </div>
</div>
