<div id="homepage-controls" class="btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Events</button>
  <button type="button" class="btn btn-default">Stories</button>
  <button type="button" class="btn btn-default">Artwork</button>

  <select class="form-control center-dropdown" id="hood-select">
    <option>Select a neighborhood</option>
    <%= @neighborhoods.each do |name| %>
      <% if current_user && current_user.neighborhood.name == name %>
        <option selected="selected"><%= name %></option>
      <% else %>
        <option><%= name %></option>
      <% end %>
    <% end %>
  </select>
</div>
<div id="map"></div>
