<div id="info-backdrop">
  <div id="homepage-controls">
    <div class="btn-group-vertical" role="group" aria-label="Justified button group" style="width: 100%">
      <div class="btn-group" role="group">
        <button type="button" id="btn-all" class="btn btn-default">All</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-peace-circles" class="btn btn-default">Peace Circles</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-events" class="btn btn-default">Events</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-stories" class="btn btn-default">Stories</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-artwork" class="btn btn-default">Artwork</button>
      </div>
    </div>
    <select class="form-control center-dropdown" id="hood-select">
      <option disabled selected>Select a neighborhood</option>
      <option>All Neighborhoods</option>
      <%= @neighborhoods.each do |name| %>
        <% if @role && @role > 0 && current_user.neighborhood.name == name %>
          <option selected="selected"><%= name %></option>
        <% else %>
          <option><%= name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div id="neighborhood">
    <div id="about-us center">
      <p><strong>A Connected Chicago</strong> is a movement that aims to foster empathy through understanding other perspectives and realities of differing communities in all of Chicago.</p>
      <p><strong>The Problem:</strong> Unequal distribution of wealth, justice, safety, stability, and opportunity in Chicago. Unresolved racial tensions and segregation from past and present discriminatory practices. We still have a lot of healing to do.</p>
      <p><strong>The Underlying Cause:</strong> In a city as densely populated as Chicago, we have somehow managed to create a false sense of distance and separation from one another.
      “If we have no peace, it is because we have forgotten that we belong to each other.”
      <em>- Mother Theresa</em></p>
      <p><strong>The Solution:</strong> We restore a sense of human connection through storytelling, peace circles, relationship building. We cross boundaries and barriers, talking to people who seem dissimilar to us. A CONNECTED CHICAGO offer a chance for reconciliation to those who have been harmed by institutional systems.</p>
      <iframe width="100%" height="100%"
        <a href="https://www.youtube.com/embed/bXAdFETvL8M"></a>
      </iframe>
    </div>
    <div id="artwork-listings">
    </div>
    <div id="event-listings">
    </div>
    <div id="peace-circle-listings">
    </div>
    <div id="story-listings">
    </div>
  </div>
</div>
<div id="map"></div>
