<div id="homepage-controls" class="btn-group-vertical" role="group" aria-label="...">
  <button name="type-button" type="button" class="btn btn-default">Events</button>
  <button name="type-button" type="button" class="btn btn-default">Stories</button>
  <button name="type-button" type="button" class="btn btn-default">Artwork</button>

  <select class="form-control center-dropdown" id="hood-select">
    <%= @neighborhoods.each do |name| %>
      <option><%= name %></option>
    <% end %>
  </select>
</div>
<div id="map"></div>
