<div id="info-backdrop">
  <div id="homepage-controls">
    <div class="btn-group-vertical" role="group" aria-label="Justified button group" style="width: 100%">
      <div class="btn-group" role="group">
        <button type="button" id="btn-peace-circles" class="btn btn-default">Peace Circles</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-events" class="btn btn-default">Events</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-stories" class="btn btn-default">Stories</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-artwork" class="btn btn-default">Artwork</button>
      </div>
    </div>
    <select class="form-control center-dropdown" id="hood-select">
      <option disabled selected>Select a neighborhood</option>
      <option>All Neighborhoods</option>
      <%= @neighborhoods.each do |name| %>
        <% if @role && @role > 0 && current_user.neighborhood.name == name %>
          <option selected="selected"><%= name %></option>
        <% else %>
          <option><%= name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div id="about-us">
    about us
  </div>
  <div id="neighborhood">
    <div id="artwork-listings">
      artworks
    </div>
    <div id="event-listings">
      events
    </div>
    <div id="peace-circle-listings">
      peace circles
    </div>
    <div id="story-listings">
      stories
    </div>
  </div>
</div>
<div id="map"></div>
