<div id="info-backdrop">
  <div id="homepage-controls">

    <div class="btn-group-vertical" role="group" aria-label="Justified button group" style="width: 100%">
      <div class="btn-group" role="group">
        <select class="form-control center-dropdown" id="hood-select" name="neighborhood_select">
          <option disabled selected>Select a neighborhood</option>
          <option>All Neighborhoods</option>
          <%= @neighborhoods.each do |name| %>
          <% if @role && @role > 0 && current_user.neighborhood.name == name %>
          <option selected="selected"><%= name %></option>
          <% else %>
          <option><%= name %></option>
          <% end %>
          <% end %>
        </select>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-peace-circles" class="btn btn-default">Peace Circles</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-events" class="btn btn-default">Events</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-stories" class="btn btn-default">Stories</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-artwork" class="btn btn-default">Artwork</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" id="btn-all" class="btn btn-all">All</button>
      </div>
    </div>
  </div>
  <div id="neighborhood">
    <div id="instructions">
      <p><em>Select a Neighborhood from the list, then click a button above to connect with any and all of the Restorative Justice initiatives in the city. Each set of map markers is color coded for <span class="art-text">Art</span>, <span class="events-text">Events</span>, <span class="peace-circles-text">Peace Circles</span>, and <span class="stories-text">Stories</span>. Create an account to be able to add your own events, stories, and art!</em></p>
    </div>
    <div id="artwork-listings">
    </div>
    <div id="event-listings">
    </div>
    <div id="peace-circle-listings">
    </div>
    <div id="story-listings">
    </div>
  </div>
</div>
<div id="map"></div>
