<% content_for :body_class, "dashboard-bg" %>
<div class="resources-center">
  <div class="resources-container">
    <h1 style="text-align: center">Resources</h1>

    <h2>Restorative Justice Explained</h2>
      <h4>Websites on Restorative Justice</h4>
        <h5><a href="http://restorativejustice.org/" target="_blank">Center for Justice and Reconciliation - RestorativeJustice.org</a></h5>
        <h5><a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={263A1422-2DA8-4687-B485-36539DE96208}" target="_blank">Restorative Justice Websites List provided by Living Justice Press</a></h5>
        <h5><a href="http://ibarj.org/" target="_blank">Illinois Balance and Restorative Justice - IBARJ.org</a></h5>
        <h5><a href="https://rjhubs.org/" target="_blank">Community Restorative Justice Hubs - RJHubs.org</a></h5>
        <br>
      <h4>Short Videos Explaining Restorative Justice</h4>
        <h5><a href="http://www.bravenewfilms.org/restorativejustice?utm_campaign=restorative_jus&utm_medium=email&utm_source=bravenew" target="_blank">Restorative Justice Series</a> by Brave New Films</h5>
        <h5><a href="https://www.youtube.com/watch?v=sE8TDzlR2tg" target="_blank">What is restorative justice?</a> by SFU Center</h5>
        <br>
      <h4>News Articles on Restorative Justice</h4>
        <h5><a href="http://www.livingjusticepress.org/index.asp?Type=B_PR&SEC={BC01F9DF-06C5-498E-B487-8BC3BD5B31FA}" target="_blank">Living Justice Press List</a></h5>
        <h5><a href="http://restorativejustice.org/rj-library/" target="_blank">RestorativeJustice.Org Library</a></h5>
        <br>
      <h4>Taking Action FAQ</h4>
        <h5>How do I <a href="http://restorativejustice.org/restorative-justice/starting-a-restorative-justice-program/" target="_blank">start a Restorative Justice Program</a> in my Organization or Community</h5>
        <h5>What is a <a href="https://rjhubs.org/rj-hubs-faq/" target="_blank">Restorative Justice (RJ) Hub</a>?</h5>
        <h5>How do I <a href="https://rjhubs.org/" target="_blank">become a Restorative Justice (RJ) Hub in Chicago</a>?</h5>
        <br>
    <h2>Peace Circle Process Resources</h2>

      <h4>Short Videos Explaining Peace Circles</h4>
        <h5><a href="https://www.youtube.com/watch?v=L6stLLU5VTA" target="_blank">Peace Making Circles Explained</a> by Precious Blood Ministries</h5>
        <h5><a href="https://www.youtube.com/watch?v=HiLtFVHR8Q0" target="_blank">Restorative Welcome and Re-Entry Circle</a> by OUSD News</h5>
        <h5><a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={B158346E-2E21-48C6-94DC-A71301BE3D0F}" target="_blank">Graphics and Handouts Explaining the Peace Circle Process</a> by Living Justice Press</h5>
        <h5><a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={14F1026E-8206-43BF-92BA-F15904243F17}" target="_blank">Books, DVD’s and more Online Videos on Peace Circles</a></h5>
        <br>
      <h4>Contact Info</h4>
        <h5>Peace Circle Practitioners in <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={F794FCCB-6A64-4BB3-8F40-2971988004C1}&DE={613FE260-B5D2-44B4-A714-35DA1C1C8F28}" target="_blank">Chicago and Illinois</a></h5>
        <h5>Peace Circle Practitioners around the <a href="http://www.livingjusticepress.org/index.asp?Type=B_BASIC&SEC={F794FCCB-6A64-4BB3-8F40-2971988004C1}" target="_blank">United States</a></h5>
</div>
