<% content_for :body_class, "event-bg" %>

<div class="resources-center">
  <div class="resources-container">
    <ol class="instruction-list">
      <h4><li>
        All Events uploaded <b>MUST</b> be linked with a <i>Connected Chicago</i> organization. If you do not see your organization listed, please email <%= mail_to 'connectedchicago@gmail.com', 'connectedchicago@gmail.com' %>
      </li></h4>

      <h4><li>
        The Brief Description of Event should be between 1-3 sentences. (One Paragraph <b>MAX</b>)
      </li></h4>

      <h4><li>
        The Address used for Event <b>MUST</b> be a Complete Geographical Location in order to appear on <i>Connected Chicago’s</i> Map; i.e. 5114 S Elizabeth St, Chicago, IL 60609.
      </li></h4>

      <h4><li>
        In the Event Website Link box, if applicable, include a Facebook Event link, Eventbrite, or your organization’s website related to Event.
      </li></h4>
    </ol>
    <%= link_to "Back", new_event_path %>
  </div>
</div>
