<% content_for :body_class, "event-bg" %>

<div class="resources-center">
  <div class="resources-container">
    <ol>
      <li><h4>
        All Events uploaded MUST be linked with a Connected Chicago organization. If you do not see your organization listed, please email <%= mail_to 'connectedchicago@gmail.com', "Connected Chicago" %>
      <h4></li>

      <li><h4>
        The Brief Description of Event should be between 1-3 sentences. (One Paragraph MAX)
      <h4></li>

      <li><h4>
        The Address used for Event MUST be a Complete Geographical Location in order to appear on <i>Connected Chicago’s</i> Map; i.e. 5114 S Elizabeth St, Chicago, IL 60609.
      <h4></li>

      <li><h4>
        In the Event Website Link box, if applicable, include a Facebook Event link, Eventbrite, or your organization’s website related to Event.
      <h4></li>
    </ol>
    <%= link_to "Back", new_event_path %>
  </div>
</div>
