<% content_for :body_class, "story-bg" %>

<div class="resources-center">
  <div class="resources-container">
    <ol>
      <li><h4>
        Recommendation: Choose ONE of the following, either to submit your Story via Video OR submit your Written Story.
      <h4></li>

      <li><h4>
        How to Upload Video: If your Story has a Video, first upload your Video to Youtube, and then insert the link to your video below. Your video link MUST be hosted on YouTube.
       <h4></li>

      <li><h4>
        How to Upload Written Story: Insert your “Written Story” below. Stories can include personal anecdotes, reflections and/or poems.
      <h4></li>

      <li><h4>
        The Author of Story can be an individual or collective authorship. You should own the rights to the video, or have been given permission by the organization to share.
      <h4></li>

      <li><h4>
        Story MUST be linked to a Complete Geographical Address in order to appear on Connected Chicago Map; i.e. 5114 S Elizabeth St, Chicago, IL 60609. 
      <h4></li>
      <ul>
        <li>DO NOT use your personal Home Address. After approval, the address will be used to tag the Story to a specific location.</li>
        <li>Recommendation: Use your neighborhood organization’s geographic address or your nearest neighborhood landmark location to pin location story.</li>
      </ul>

      <li><h4>
        The “Brief Description of Story” should be limited to 1-3 sentences. This short description will appear under video and give synopsis to viewer about what the Story is about.
      <h4></li>

      <li><h4>
        There is NO LIMIT on the amount of Stories you can submit.
      <h4></li>
    </ol>
    <%= link_to "Back", new_story_path %>
  </div>
</div>
