<p>Hi <%= @user.first_name %>,</p>

<p>Thank for signing up for A Connected Chicago!</p>

<p>Click <%= link_to "here", confirm_user_email_url(@user.email_token) %> to confirm your email address, and you can begin using the site!</p><br>
<br>
A Connected Chicago
