.glyphicon {
  font-size: 36px;
  color: white;
}

.glyphicon:hover {
  color: #9ABBE2
}

#left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
