.center {
  min-width: 400px;
  max-width: 500px;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.centered-container {
  text-align: center;
  position: relative;
  margin: auto;
  min-width: 450px;
}

.overflow-container {
  overflow: auto;
}

.time-select {
  width: 100%;
}

.form-input {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  text-align-last: center;
  border-radius: 5px;
  background-color: #E7E2E4;
}

.submit-input {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  text-align-last: center;
}

.img-upload-text {
  background-color: #E7E2E4;
}

.inline-radio {
  padding-left: 5px;
  padding-right: 5px;
}

.bootstrap-filestyle {
  margin-top: 10px;
}

div.btn-group-vertical form{
  display: inline;
  width: 100%;
}

.white {
  color: #E7E2E4;
  margin-top: 5px;
}

label {
  margin: 0;
}

.aes-container {
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  padding: 15px;
  min-width: 400px;
  max-width: 500px;
  max-height: 90%;
  min-height: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.aes-center {
  width: 600px;
  height: 100%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.aes-format {
  max-width: 475px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-area {
  white-space: pre-wrap;
  text-align: justify;
}

.resources-center {
  width: 60%;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.resources-container {
  background-color: rgba(231, 226, 228, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.btn-danger {
  width: 100px;
  text-decoration-color: white;
}

.list-group-item {
  background-color: rgba(231, 226, 228, 0.8);
}

@media (max-width: 450px) {
  .aes-center {
    width: 90%;
  }

  .aes-container {
    min-width: 70%;
    max-width: 80%;
  }

  .resources-container img {
    width: 90%;
  }

  .resources-center {
    width: 90%;
  }

  .centered-container {
    min-width: 70%;
    max-width: 80%;
  }

  .center {
    min-width: 70%;
    max-width: 400px;
  }
}

.input-group {
  padding: 0;
}
