body {
  background-color: #c6cdd4;
}

.navbar-default {
  background-color: #E7E2E4;
}
.navbar-default .navbar-nav li a {
  color: #45494C;
}

.navbar-default .navbar-nav li a:hover {
  color: black;
}

.navbar-default .navbar-brand:hover {
  color: black;
}

#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#homepage-controls {
  position: absolute;
  top: 75px;
  right: 50px;
  z-index: 2;
  float: right;
}

.center-dropdown {
  text-align-last: center;
}
