body {
  background-color: #c6cdd4;
  overflowy: scroll;
}

.navbar-default {
  background-color: #E7E2E4;
  z-index: 100;
}
.navbar-default .navbar-nav li a {
  color: #45494C;
}

.navbar-default .navbar-nav li a:hover {
  color: black;
}

.navbar-default .navbar-brand:hover {
  color: black;
}

#map {
  height: 100%;
  width: 100%;
}

html, body {
  top: 50px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#homepage-controls {
  width: 100%;
  z-index: 2;
}

.center-dropdown {
  text-align-last: center;
}

.btn-default {
  background-color: #C3DBF9;
  color: #3E4660;
}

.dashboard-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("matthew-hamilton-136795.jpg") center center fixed;
  background-size: cover;
}

// h1, h2, h3, h4, h5, h6 {
//   margin: 0;
// }

#info-backdrop {
  position: absolute;
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 75px;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  width: 30%;
}

#artwork-listings {
  display: none;
}

#event-listings {
  display: none;
}

#peace-circle-listings {
  display: none;
}

#story-listings {
  display: none;
}

.listing {

}

#neighborhood {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 210px;
  bottom: 10px;
  overflow: auto;
  height: inherit;
}

.alert-fixed {
  position:fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px;
}

.flash_notice {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #84bb66;
  color: #308700;
}

.flash_error {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c85b54;
  color: #7c0700;
}

#about-us {
  display: block;
  overflow-y: scroll;
  font-size: 12px;

}
