.navbar-default {
  background-color: #E7E2E4;
}
.navbar-default .navbar-nav li a {
  color: #45494C;
}

.navbar-default .navbar-nav li a:hover {
  color: black;
}

.navbar-default .navbar-brand:hover {
  color: black;
}

#map {
  height: 100%;
  width: 100%;
}

html {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 409px;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 55px;
  overflow: auto;
}

#homepage-controls {
  width: 100%;
  z-index: 2;
}

.center-dropdown {
  text-align-last: center;
  background-color: #E7E2E4;
}

#org-select {
  background-color: #933B3B;
  border-color: #4C2326;
  color: #E7E2E4;
}

.btn-default {
  background-color: #933B3B;
  border-color: #4C2326;
  color: #E7E2E4;
}

.btn-default:hover {
  background-color: #4C2326;
  border-color: #3F1D20;
  color: #E7E2E4;
}

.btn-default:focus {
  background-color: #4C2326;
  border-color: #3F1D20;
  color: #E7E2E4;
}

.btn-all {
  background-color: #9ABBE2;
  border-color: #7F9AB9;
  color: #3E4660;
}

.btn-all:hover {
  background-color: #7F9AB9;
  border-color: #7189A5;
  color: #3E4660;
}

.dashboard-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("matthew-hamilton-136795.jpg") center center fixed;
  background-size: cover;
}

.login-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("chicago_map.jpg") center center fixed;
  background-size: cover;
}

.artwork-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("art.jpg") center center fixed;
  background-size: cover;
}

.event-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("event.jpg") center center fixed;
  background-size: cover;
}

.story-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("story.jpg") center center fixed;
  background-size: cover;
}

#info-backdrop {
  position: absolute;
  background-color: rgba(231, 226, 228, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 75px;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  width: 30%;
  min-height: 309px;
}

#artwork-listings {
  display: none;
  width: 100%;
}

#event-listings {
  display: none;
  width: 100%;
}

#peace-circle-listings {
  display: none;
  width: 100%;
}

#story-listings {
  display: none;
  width: 100%;
}

#org-listings {
  display: none;
  width: 100%;
}

#neighborhood {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 240px;
  bottom: 10px;
  overflow: auto;
  height: inherit;
  width: 100%;
}

.alert-fixed {
  position:fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px;
}

.flash_success {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #84bb66;
  color: #308700;
}

.flash_error {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c85b54;
  color: #7c0700;
}

#instructions {
  display: block;
  overflow-y: scroll;
}
.iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

/* 16x9 Aspect Ratio */
.iframe-16x9 {
}

/* 4x3 Aspect Ratio */
.iframe-4x3 {
  padding-bottom: 75%;
}

.iframe iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.art-text {
  font-weight: bold;
  color: #d4b411;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.events-text {
  font-weight: bold;
  color: #08820e;
}

.peace-circles-text {
  font-weight: bold;
  color: #4e7eb7;
}

.stories-text {
  font-weight: bold;
  color: #933b3b;
  color: #b9600e;
}

.orgs-text {
  font-weight: bold;
  color: #933b3b;
}

ol, li {
  padding-left: 1.1em;
}

.btn-danger {
  width: 100%;
}

@media (max-width: 450px) {
  #info-backdrop {
    position: absolute;
    background-color: rgba(231, 226, 228, 0.8);
    border-radius: 5px;
    position: absolute;
    top: 75px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 90%;
    min-height: 309px;
  }
}
