body {
  background-color: #c6cdd4;
}

.navbar-default {
  background-color: #994646;
}

.navbar-default .navbar-nav li a {
  color: #E7E2E4;
}

.navbar-default .navbar-nav li a:hover {
  color: black;
}

#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



.center-dropdown {
  text-align-last: center;
}

#info-backdrop {
  position: absolute;
  background-color: #E7E2E4;
  position: absolute;
  top: 75px;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  width: (50% - 25px);
}
