<% content_for :body_class, "dashboard-bg" %>
<div class="center">
  <div class="centered-container">
    <h1 class="white">Promote a User</h1>
    <h4 class="white">Enter a user's email below to make them a Community Leader</h4>
    <form action="/admin/users" method="post">
      <input class="form-input" type="text" name="email" placeholder="User Email">
      <input class="form-input" type="hidden" name="_method" value="put">
      <input class="form-input" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input class="submit-input btn btn-success" type="submit" value="Promote User">
    </form>
  </div>
</div>
