<form action="/admin/users" method="post">
  <input type="text" name="email" placeholder="User Email">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Promote User">
</form>
